/*========================================

  single page (WordPress single.php template)

========================================*/

.p-single{
	&{
		
	}
	&__panel{
		@extend .c-panel;
		padding: 6em 0;
	}
	&__thumb{
		margin: 0 0 2em;
		line-height: 0;
		text-align: center;
	}
	&__header{
		margin: 0 0 3em;
		padding: 0 1.5em;
		text-align: center;
	}
	&__title{
		margin: 0;
		line-height: 1.5;
	}
	&__meta{
		font-size: 0.9em;
	}
	&__categories{
		display: inline-block;
		position: relative;
		margin: 0 0 0 0.2em;
		padding: 0 0 0 0.7em;
		&:before{
			@extend %before_after_base;
			font-size: 0;
			line-height: 0;
			top: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			width: 3px;
			height: 3px;
			background: $base_color_text;
			border-radius: 100%;
		}
	}
	&__content{
		@extend .c-wysiwyg;
		@extend .c-content;
		padding: 0 1.5em;
	}
}
