/*========================================

  extend

========================================*/

/*  before/after
---------------*/
%before_after_base{
	content: '';
	display: block;
	position: absolute;
}
